body {
  background-color: #40404A;
  color: white;
  font-family: Arial, sans-serif;
}

div.main {
  align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
  border: none;
  transition: 0.4s;
}

a.link {
}

a.hover {
  border: 1px white solid;
  border-radius: 5px;
  transition: 0.4s;
}

a.visited {
}

div.logo-link {
  display: inline-block;
}

img.logo, img.logo-external {
  max-width: 75px;
  max-height: 75px;
}

div.footer {
  text-align: middle;
  font-size: 1pt;
}
