:root {
  --transitionTime: 0.73s;
  --standardBackground: #40404A;
  --standardGray: gray;
  --standardBorder: 1px var(--standardGray) solid;
  --standardBorderRadius: 10px;
  --sectionWidth: 75%;
  --logoHeight: 60px;
  --logoMargin: 8px;
  --logoLinkMargin: 5px;
  --logoLinkBorder: 1px;
  --logoLinkMinWidth: calc(var(--logoHeight) + calc(var(--logoMargin) * 2));
  --listItemWidth: 110px;
  --logoLinkWidth: 125px;
}

body {
  background-color: var(--standardBackground);
  color: white;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
}

a:hover {
}

a:visited {
}

div.main {
  align: center;
  vertical-align: middle;
}

div.header {
  margin-top: 50px;
  width: var(--sectionWidth);
}

div.logo-section {
  max-width: var(--sectionWidth);
}

div.logo-link {
  min-width: var(--logoLinkMinWidth);
  display: inline-block;
  vertical-align: middle;
  margin: var(--logoLinkMargin);
}

div.logo-link-text {
  max-width: var(--logoLinkWidth);
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: var(--logoLinkMargin);
}

img.logo, img.logo-external {
  height: var(--logoHeight);
  vertical-align: middle;
  display: inline-block;
  margin: var(--logoMargin);
}

div.logo-text {
  vertical-align: middle;
  display: inline-block;
}

div.list-section, div.list-section-column {
  vertical-align: middle;
  max-width: var(--sectionWidth);
}

div.list-section {
  display: block;
}

div.list-section-column {
  display: inline-block;
}

div.list-item, div.list-item-prominent {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 10px;
  margin: 3px 3px;
  width: var(--listItemWidth);
}

/*Hover Border*/
div.logo-link, div.list-item {
  border: 1px var(--standardBackground) solid;
  border-radius: var(--standardBorderRadius);
  transition: border-color var(--transitionTime);
}

div.logo-link:hover, div.list-item:hover {
  border: var(--standardBorder);
}
/*END Hover Border*/

@property --transitionGray {
  syntax: '<color>';
  initial-value: rgb(0,0,0,0);
  inherits: false;
}

/*Hover Gradient*/
div.list-item-prominent {
  border: var(--standardBorder);
  border-radius: var(--standardBorderRadius);
  background-image: radial-gradient(ellipse farthest-corner at center, rgb(0,0,0,0), rgb(0,0,0,0), var(--transitionGray));
  transition: --transitionGray var(--transitionTime);
}

div.list-item-prominent:hover {
  --transitionGray: gray;
}
/*END Hover Gradient*/

div.footer {
  margin: 4em;
  display: block;
  text-align: center;
  color: var(--standardGray);
  font-size: 8pt;
}

@media (max-width: 768px) {
  div.header {
    width: 100%;
  }
  div.list-section, div.list-section-column {
    width: 100%;
  }
  div.logo-section {
    max-width: 100%;
  }
}
