body {
  background-color: #40404A;
  color: white;
  font-family: Arial, sans-serif;
}

div.main {
  align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
}

a:hover {
}

a:visited {
}

div.logo-link {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  border: 1px #40404A solid;
  border-radius: 10px;
  transition: border-color 0.4s;
}

div.logo-link:hover {
  border: 1px white solid;
  border-radius: 10px;
  transition: border-color 0.4s;
}

img.logo, img.logo-external {
  height: 75px;
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
}

div.logo-text {
  vertical-align: middle;
  display: inline-block;
}

div.list-section {
  vertical-align: middle;
  display: inline-block;
}

div.list-item {
  display: inline-block;
  padding: 20px 0px;
  margin: 5px 0px;
  width: 150px;
  border: 1px #40404A solid;
  border-radius: 10px;
  transition: border 0.4s;
}

div.list-item:hover {
  border: 1px gray solid;
  border-radius: 10px;
  transition: border 0.4s;
}

div.footer {
  margin: 4em;
  display: block;
  text-align: center;
  color: gray;
  font-size: 8pt;
}

@media screen and (min-width: 992px) {
  div.list-section {
    width: 625px;
  }
}
